<section class="py-5 text-center bg-image container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light text-light dt">Blog de Noticias do IBGE</h1>
      <p class="dt secondary">
        O Instituto Brasileiro de Geografia e Estatística - IBGE se constitui no
        principal provedor de dados e informações do País, que atendem às
        necessidades dos mais diversos segmentos da sociedade civil, bem como
        dos órgãos das esferas governamentais federal, estadual e municipal.
      </p>
    </div>
  </div>
</section>
