<header class="fixed-top">
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <div class="navbar-brand d-flex align-items-center justify-content-between">
        <div class="mx-3">
          <img class="rounded"
          width="48"
          height="48"
          src="https://play-lh.googleusercontent.com/6QxxnAstpQ5h-SMTcpG0EtNW-Yn7jGLMivyJSKoFP5rbsxW0SEmIfIYwJkrDAsjmr-NH=w240-h480-rw"/>
        </div>
        <div class="mx-3">
           <strong>Blog de Notícias IBEG</strong>
        </div>
      </div>
    </div>
  </div>
</header>
